header {
  background-color: #00adb5;
  margin: 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    max-width: 200px;
  }
  .burguerMenu {
    width: 500px;
    height: 50px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    ul {
      display: flex;
      width: 400px;
      justify-content: center;
      align-items: center;
      li {
        list-style: none;
        width: 30%;
        font-family: Montserrat;
        color: white;
        transition: 0.5s;
        &:active {
          transform: scale(0.9);
        }
        a {
          color: white;
          text-decoration: none;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
  }
}
